[submodule "generacion"]
	path = generacion
	url = https://github.com/100475206/Algoritmo-de-generacion-NeuraSun.git
[submodule "consumo"]
	path = consumo
	url = https://github.com/100475206/Algoritmo-consumo-NeuraSun.git
[submodule "motor_decision"]
	path = motor_decision
	url = https://github.com/Adsolf/Motor_decision_neurasun.git
